:root {
    --bg-main: #f4f6f8;
    --bg-card: #ffffff;
    --bg-soft: #f8fafc;

    --primary: #2563eb;
    --primary-dark: #1d4ed8;
    --danger: #ef4444;

    --text-main: #111827;
    --text-muted: #6b7280;

    --radius: 12px;
    --shadow-soft: 0 4px 12px rgba(0,0,0,0.08);
    --shadow-hover: 0 8px 20px rgba(0,0,0,0.12);
}
body {
    margin: 0;
    font-family: "Inter", system-ui, -apple-system, sans-serif;
    background-color: var(--bg-main);
    color: var(--text-main);
}
